* {
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow:visible;
}

:root {
    --primary-color: #D50000; 
    --text-color: #f00028;
  }

body{
    background:#fff;
}
a{
    color:var(--primary-color);
}
.navbar{
    padding:21px 32px ;
    color:#fff !important;
    transition: 0.5s;
}
.navbar.active{
    padding: .5rem 1rem;
    background: #fff;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.2);
}

.nav-link, .navbar-brand {
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s;
}

.navbar.active .nav-link{
    color: #345;
}
.navbar.active .navbar-brand {
    margin-left: 14px;
    color:var(--text-color);
}

.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: var(--text-color);
}
.navbar.active .nav-link:hover {
    border-radius:4px;
    background: #f4f4f4;
    color: var(--text-color);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    /* background: #666 !important; */
    border:1px solid #eee;
    content:"hello";
}
.navbar-toggler::after {
    background: #666 !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

#about .img-fluid{
border-radius:50%;
margin-bottom:10px;
}
/* intro */

header {
    background-image: url("../img/46741501_2046814075409630_9129134785023705088_o.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100%;
    /* background-position:left; */
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.description {
    position: absolute;
    bottom: 20%;
    text-align: left;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #fff;
}

.description p {
    color: #ccc;
    font-size: 20px;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

.play-video {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    width: 80px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    border: none;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, .4);
    transition: .5s ease-in-out!important;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}

.play-video span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.play-video:hover {
    transform: rotate(360deg) scale(1.1);
    box-shadow: none;
}

/* about */
#about .desc {
    /* border-left: 4px solid var(--primary-color); */
}

#about .desc h3 {
    color: var(--primary-color);
}

#about .desc p {
    line-height: 2;
    color: #888;
}

/* custom */
.title-page{
    margin:auto;
    text-align: center;
    padding:30px;
    padding-bottom:60px;
    position: relative;
}
.title-page:after {
        content: "";
        position: absolute;
        border-top: 3px solid #ff4463;
        left: 47.5%;
        bottom: 58px;
        width: 5%;
        height: 0px;
  }
.page{
    padding:30px;
    padding-bottom:80px;
    position: relative;
}

footer{
    background-color: #252525;
    color: #ffffff;
    font-size:13px;
}
footer *{
    padding:6px;
}
footer a{
    color:#eee;
}
.footer-copyright{
    background: #1f1f1f;
} 

.card{
    border-radius:9px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    text-align: center;
    border-color:#e5e7f2;
    background:#f8f8f9;
    cursor: pointer;
}
.card:hover{ 
    box-shadow: 0 9px 28px rgba(0,0,0,0.12), 0 0px 10px rgba(0,0,0,0.1);
    transform: scale(1.04);
}
#blog{
    background: #f7f7f7;
}
#blog .card{
    padding-bottom:16px;
}
#project .card h5{
    margin:0;
}
.card-footer{
    background:none;
    border:none;
}

button.custom{
    transition: .3s !important;
    text-align: center;
    border: none;
    min-width: 170px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 0;
    padding: 12px 22px;
    margin: auto;
    display: table;
    box-sizing: border-box;
    line-height: 1;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    cursor: pointer;
    background:none;
    border-radius:4px;
    border:2px solid var(--primary-color);
}

button.custom:hover{
    color: #fff;
    background: var(--primary-color);
    box-shadow: 0 9px 28px rgba(0,0,0,0.3), 0 0px 10px rgba(0,0,0,0.1);
}

button.custom:hover a{
    color: #fff;
}


.relative-overlay{
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

#submit-sub{
    margin-bottom: 0 !important;
}

/* timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 2px;
    height: 100%;
    z-index: 400;
    margin-top:5px;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    margin-top:5px;
    content: ' ';
    background: #f8f8f9;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    left: 0px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

/* client */
.client-content{
    margin-right:200px;
}
.client-content p{
color:#888;
font-size:14px;
/* position: absolute;
left: auto;
right:300px; */
}
/* Slider */
.talk-aboutme{
    height: fit-content;
    margin:40px;
    margin-top:-45px;
}
.talk-aboutme .crd{
 /* background:#F97300; */
 padding:32px;
 overflow: visible;
}
.talk-aboutme .crd .row{
    background:#F97300;
    height: 297px;
    position: relative;
    background-color: #fff;
    padding: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    box-shadow: 0 5px 40px rgba(0,0,0,.07);
    border-radius: 4px;
    text-align: left;
    overflow: hidden;
    padding-bottom: 35px;
}
.talk-aboutme .crd .client-img{
background-size:cover;
background-position: center;
position: absolute;
top:-20px;
bottom:-20px;
right: -6px;
width:230px;
border-radius: 50% 0 0 50%;
}