* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: visible;
}

/* .wow{
    overflow: hidden;
} */

:root {
    --primary-color: #D50000;
    --text-color: #f00028;
}

body {
    background: #fff;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
}


.navbar {
    padding: .5rem 1rem;
    background: #fff;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    font-size:18px;
    transition: 0.2s ease-in;
}


.nav-link, .navbar-brand {
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s;
}

.navbar .nav-link {
    color: #345;
}

.navbar .navbar-brand {
    margin-left: 14px;
    color: var(--text-color);
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: var(--text-color);
}

.navbar .nav-link:hover {
    border-radius: 4px;
    background: #f4f4f4;
    color: var(--text-color);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    /* background: #666 !important; */
    border: 1px solid #eee;
    content: "hello";
}

.navbar-toggler-icon {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: #fbfbfb;
}

.navbar-toggler::after {
    background: #666 !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar.active{
    opacity: 1 !important;
}

.logo {
    width: 50px;
    box-shadow: 0 0 1px rgba(68, 68, 68, 0.4);
    margin-right:15px;
    border-radius: 100%;
}

#about .img-fluid {
    border-radius: 50%;
    margin-bottom: 10px;
}

#about a{
    color: var(--primary-color);
}

/* intro */

header {
    background-image: url("../img/46741501_2046814075409630_9129134785023705088_o.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100%;
    text-shadow: 1px 1px 1px #333;
    /* background-position:left; */
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.description {
    position: absolute;
    bottom: 20%;
    text-align: left;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #fff;
}

.description p {
    color: #dddddd;
    font-size: 20px;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

.play-video {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    width: 80px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    border: none;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, .4);
    transition: .5s ease-in-out!important;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}

.play-video span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.play-video:hover {
    transform: rotate(360deg) scale(1.1);
    box-shadow: none;
}

/* about */

#about .desc {
    /* border-left: 4px solid var(--primary-color); */
}

#about .desc h3 {
    color: var(--primary-color);
}

#about .desc p {
    line-height: 2;
    color: #888;
}

/* custom */

.title-page {
    margin: auto;
    text-align: center;
    padding: 30px;
    padding-bottom: 60px;
    position: relative;
}

.title-page:after {
    content: "";
    position: absolute;
    border-top: 3px solid #ff4463;
    left: 47.5%;
    bottom: 58px;
    width: 5%;
    height: 0px;
}

.page {
    padding: 30px;
    padding-bottom: 80px;
    position: relative;
    background: #fff;
    overflow-x: hidden;
}

footer {
    background-color: #252525;
    color: #ffffff;
    font-size: 14px;
}

footer * {
    padding: 6px;
}

footer a {
    color: #eee;
}

.footer-copyright {
    background: #1f1f1f;
}

.card {
    border-radius: 9px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    text-align: center;
    border-color: #e5e7f2;
    background: #f8f8f9;
    cursor: pointer;
}
.card-img{
    max-height:200px;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0 9px 28px rgba(0, 0, 0, 0.12), 0 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.04);
}

#blog {
    background: #f7f7f7;
}

#blog .card {
    padding-bottom: 16px;
}

#project {
    background: #f7f8f9;
}

#project .card h5 {
    margin: 0;
}

.card-footer {
    background: none;
    border: none;
}

button.custom {
    transition: .3s !important;
    text-align: center;
    border: none;
    min-width: 170px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 0;
    padding: 12px 22px;
    margin: auto;
    display: block;
    box-sizing: border-box;
    line-height: 1;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    cursor: pointer;
    background: none;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
}

button.custom:hover {
    color: #fff;
    background: var(--primary-color);
    box-shadow: 0 9px 28px rgba(0, 0, 0, 0.3), 0 0px 10px rgba(0, 0, 0, 0.1);
}

button.custom:hover a {
    color: #fff;
}

input.custom {
    padding: 6px;
    border-radius: 4px;
    border: solid 2px #fbfbfb;
    width: 100%;
}

.relative-overlay {
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

#submit-sub {
    margin-bottom: 0 !important;
}

/* timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 2px;
    height: 100%;
    z-index: 400;
    margin-top: 5px;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    margin-top: 5px;
    content: ' ';
    background: #f8f8f9;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    left: 0px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

/* client */

.client-logo div {
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.client-content {
    right: 230px;
    left: 32px;
    top: 32px;
    bottom: 50px;
    position: absolute;
    overflow: hidden;
}

.client-content p {
    color: #888;
    font-size: 14px;
    /* position: absolute;
left: auto;
right:300px; */
}

#talk-aboutme {
    background: #f7f8f9;
}

#with-me {
    background: #fff;
}

/* Slider */

.talk-aboutme {
    height: fit-content;
    margin: 40px;
    margin-top: -45px;
}

.talk-aboutme .crd {
    /* background:#F97300; */
    padding: 32px;
    overflow: visible;
    position: relative;
}

.talk-aboutme .crd .rw_rating {
    bottom: 28px;
    left: 30px;
    position: absolute;
    letter-spacing: 3px;
}

.talk-aboutme .crd .row {
    background: #F97300;
    height: 297px;
    position: relative;
    background-color: #fff;
    padding: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .07);
    border-radius: 4px;
    text-align: left;
    overflow: hidden;
    padding-bottom: 35px;
}

.talk-aboutme .crd .client-img {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -6px;
    width: 230px;
    border-radius: 50% 0 0 50%;
}

/* list */

#cate-project {
    /* padding:0 90px; */
}

#cate-project h4 {
    padding: 12px 0;
    color: #ff225e;
    text-decoration: overline;
}

.cate-item {
    position: relative;
    border-radius: 9px;
    height: 175px;
    overflow: hidden;
    cursor: pointer;
}

.cate-item:hover .card-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.cate-item .bg-overlay, .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: 0.25s ease-in;
}

.cate-item:hover .bg-overlay {
    transform: rotate(-5deg) scale(1.5);
}

.card-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.list-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 1px #444;
    text-align: center;
}

/* post */

.post-item h4 {
    border-radius: 2px;
    border-left: 3px solid #ff4463;
    padding-left: 4px;
    margin-bottom: 12px;
}

.post-item ul {
    list-style: none;
}

.post-item li {
    display: block;
    padding: 8px 0 8px 12px;
    border-top: #eee 1px solid;
    color: #3d3d3d;
    background: url(../img/red-bullet.jpg) 0px 18px no-repeat;
}

.post-title {
    padding: 9px 0;
    display: block;
}

.post-item a {
    color: #3d3d3d;
    transition: 0.25s ease-in;
}

.thumb-post img {
    border-radius: 4px;
}

.navbar-nav {
    margin: auto;
    display: inline-table;
}

.nav-item {
    display: table-cell;
    padding-right:28px;
    padding-left:28px;
}

#list-project a{
    color: #345;
}
#list-project a:hover{
    text-decoration: none;
}